@import "tailwindcss";
.input {
  @apply w-full border border-gray-300 rounded-xl p-3
  focus:outline-none focus:ring-2 focus:ring-green-500
  transition;
}

.label {
  @apply block mb-1 font-semibold text-gray-700;
}
