.Header{
    padding: 50px;
    display: flex;
    align-items: center;
    background-color: green;
}

.Name{
    margin-right:100px;
    color: yellowgreen;
    font-size: large;
}

.NavBar{
    font-size: 30px;
    font-style: italic;
}

a{
    padding: 20px;
    color: aquamarine;
}